html, body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    background: #f2f2f2;
    background-color: #f7f6e5;
}

h1, h2 { 
    margin: 0;
    font-size: 60px; 
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 1px 1px 3px #f0f0f0;
    text-align: center;
}
h2 {
    font-size: 32px;
}

.greet {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}